<div class="row abs-booksearch" ng-controller="UserCtrl">

	<div class="col-lg-12">
		<a type="button" href="#/users/new" class="btn btn-success"><i class="fa fa-user-plus"></i> {{ 'Add New Users' | translate }}</a>
	</div>

	<div class="col-lg-12">
		<rd-widget>
			<rd-widget-header icon="fa-users" title="{{ 'Users' | translate }}">
			</rd-widget-header>
			<rd-widget-body classes="medium">
				<div class="jumbotron" ng-if="!user.length">
					<h3>{{ 'No user found' | translate }}</h3>
				</div>

				<div class="table-responsive" ng-if="user.length">
					<table class="table table-hover">
						<tr>
							<th>{{ 'Work ID' | translate }}</th>
							<th>{{ 'User Name' | translate }}</th>
							<th>{{ 'Real Name' | translate }}</th>
							<th>{{ 'Gender' | translate }}</th>
							<th>{{ 'Age' | translate }}</th>
						</tr>
						<tr ng-repeat="userInstance in user">
							<td>{{ userInstance.work_id }}</td>
							<td>{{ userInstance.user_name }}</td>
							<td>{{ userInstance.realname }}</td>
							<td>{{ userInstance.gender }}</td>
							<td>{{ userInstance.age }}</td>
						</tr>
					</table>
				</div>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>
