<div id="login">
  <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
    <form class="jumbotron text-center" ng-submit="signin()">
      <h1>{{ 'Login' | translate }}</h1>
      <hr/>
      <div class="row">
        <div class="form-horizontal col-sm-6 col-sm-offset-3">
          <input type="text" class="form-control" id="inputUsername" placeholder="Username" ng-model="login.username">
          <br/>
          <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="login.password">
        </div>
      </div>
      <br/>
      <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
      <p><a class="btn btn-primary btn-lg" href="javascript:" role="button" ng-click="signin()">{{ 'Sign in' | translate }}</a></p>
    </form>
  </div>
</div>